body {
	background: url('../img/header-bg.png') repeat-x;
	font: 12px 'Helvetica Neue', Arial, sans-serif;
	line-height: 18px;
	color: #414141;
	-webkit-font-smoothing: antialiased;
}
h1, h2 {
	font: 16px/18px 'BebasRegular', Arial, sans-serif;
	letter-spacing: 0;
	color: #e8663c;
}
ul {
	list-style: none;
	margin-left: 0;
}
.span12 {
	width: 940px;
}
.muted {
	color: #b9b9b9;
}
@media (min-width: 940px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
.floatRight {
	float: right !important;
}
.noleft {
	margin-left: 0;
}
.navbar {
	margin-bottom: 20px;
}
.navbar .nav {
	margin-right: 0;
}	
.navbar-inner {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}
.navbar .nav > li > a > h2 {
	color: #b9b9b9;
}
.navbar .nav > li.on > a > h2 {
	color: #e8663c;
}
.navbar .nav > li > a:last-child {
	padding-right: 0;
}
.container {	
	max-width: 940px;
	margin: 0 auto;
}
.main {
	padding: 0 10px 10px;
	background-color: #fff;
	margin-bottom: 50px;
}
.row {
	margin-left: 0;
}
/* slideshow thumbs */
.thumbs {
	margin-left: 0;
	list-style: none;
	height: 120px;
	margin-bottom: 40px;
}
.thumbs li {
	display: inline;
	float: left;
	width: 140px;
	height: 120px;
	margin-right: 20px;
}
.thumbs li:last-child {
	margin-right: 0;
}
.icons {
	background: url('../img/icons.png') no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
}
.icon-cog {
	background-position: 0 0;
}
.icon-checkbox {
	background-position: -51px -2px;
	width: 49px;
	height: 41px;
}
.icon-user {
	background-position: -102px -3px;
	width: 42px;
	height: 40px;
}
/* end slideshow row */
/* ====== media ====== */
/* the coolest module from oocss period!! */
.media {margin:0px; position: relative;}
.media .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img, .media .leftcol {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}

.infoblock {
	max-width: 300px;
	margin-left: 0;
	margin-bottom: 35px;
}
.infoblock h2 {
	display: inline-block;
	max-width: 175px;
	margin: 0;
	font-weight: 500;
	line-height: 24px;
}
.infoblock p {
	margin-top: 26px;
	margin-bottom: 13px;
	max-width: 275px;
}
.infoblock .button {
	font: 12px 'BebasRegular', Arial, sans-serif;
	color: #fff;
	border: none;
	background-color: #e8663c;
	display: inline-block;
	padding: 6px 12px;
}
.catheader {
	background: url('../img/h-bg.png');
	margin-bottom: 26px;
}
.catheader h2 {
	margin: 0;
	display: inline;
	background-color: #fff;
	padding: 2px 20px 2px 0px;
}
.showcase div {
	max-width: 220px;
	margin-right: 20px;
}
.showcase div:last-child {
	margin-right: 0;
}
.showbox {
	padding: 14px;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	font-family: 'BebasRegular', Arial, sans-serif;
}
.showbox span {
	font-size: 11px;
	color: #e8663c;
}
/* footer */
footer {
	background-color: rgba(232, 102, 60, 0.5); /* #e8663c at 50% opacity */
}
#footer {
	padding: 40px;
	background-color: rgba(232, 102, 60, 1);
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	color: #fff;
	max-width: 860px;
}
#footer h2 {
	color: #fff;
}
.footercols > div {
	max-width: 265px;
	margin-right: 20px;
}
.footercols h2 {
	margin-bottom: 26px;
	font-size: 18px;
}
.twithilight {
	color: #f3b29d;
}
.footercols p {
	padding-right: 8px;
	font-size: 11px;
	font-weight: 800;
}
.social-icons {
	background: url('../img/social-icons.png') no-repeat 0 0;
	width: 30px;
	height: 31px;
	display: inline-block;
	margin-right: 4px;
}
.social-twitter {
	background-position: -35px 0;
}
.social-mail {
	background-position: -70px 0;
}
.social-rss {
	background-position: -105px 0;
}
.social-vimeo {
	background-position: -140px 0;
}